body {
    background-color: #f8f9fa;
    color: #495057;
}

.product-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.product-image {
    flex: 1;
    padding: 20px;
}

    .product-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

.product-info {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
}

.product-description {
    margin-bottom: 20px;
}

.product-details p {
    margin-bottom: 10px;
}

.category {
    font-weight: bold;
    color: #007bff;
}
