@page "{Id}"
@model FitFusionWeb.Pages.Products.ProductModel
@{
}

<h1>@Model.Product.Title</h1>
<h3>@Model.Product.Category.ToString()</h3>
<h4>@Model.Product.Price</h4>
<p>@Model.Product.Description</p>
