@page "{Id}"
@using Models.Product.Enums;
@model FitFusionWeb.Pages.Products.UpdateModel
@{
    ViewData["Title"] = "Product Update";
}

<h1>Update Product</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@TempData["Message"]</div>
}

<form method="post">
    <div>
        <input asp-for="ProductView.Id" type="hidden" />
    </div>
    <div>
        <label asp-for="ProductView.Title"></label>
        <input asp-for="ProductView.Title" class="form-control" />
        <span asp-validation-for="ProductView.Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductView.Description"></label>
        <input asp-for="ProductView.Description" class="form-control" />
        <span asp-validation-for="ProductView.Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductView.Price"></label>
        <input asp-for="ProductView.Price" class="form-control" />
        <span asp-validation-for="ProductView.Price" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductView.Category"></label>
        <select asp-for="ProductView.Category" class="form-control">
            @foreach (Category category in Enum.GetValues(typeof(Category)))
            {
                <option value="@category" selected="@(Model.ProductView.Category == category ? "selected" : null)">@category</option>
            }
        </select>
        <span asp-validation-for="ProductView.Category" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ProductView.ImageUrl"></label>
        <input asp-for="ProductView.ImageUrl" class="form-control" />
        <span asp-validation-for="ProductView.ImageUrl" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>

