@page "{Id}"
@using Models.Product;
@model FitFusionWeb.Pages.Products.UpdateModel
@{
    ViewData["Title"] = "Product Update";
}

<h1>Update Product</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@TempData["Message"]</div>
}

<form method="post">
    <div>
        <input asp-for="Product.Id" type="hidden" class="form-control" />
    </div>
    <div>
        <label asp-for="Product.Title"></label>
        <input asp-for="Product.Title" class="form-control" />
        <span asp-validation-for="Product.Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Product.Description"></label>
        <input asp-for="Product.Description" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Product.Category"></label>
        <select asp-for="Product.Category" class="form-control">
            @foreach (var category in Enum.GetValues(typeof(Category)))
            {
                <option value="@category" selected="@Model.Product.Category == category">@category</option>
            }
        </select>
        <span asp-validation-for="Product.Category" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Product.ImageUrl"></label>
        <input asp-for="Product.ImageUrl" class="form-control" />
        <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>
