/* Styles for cart-container */
.cart-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Styles for product-list */
.product-list {
    width: 70%;
}

/* Styles for product-item */
.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

    .product-item img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
    }

/* Styles for order-summary */
.order-summary {
    width: 25%;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
}

