@page
@model ErrorModel
@{
    ViewData["Title"] = "Error page";
}

<div class="error-container">
    <h1>Oops! Something went wrong</h1>
    <h3>@ViewData["ErrorMessage"]</h3>

    <button type="button" class="btn btn-back-home" onclick="location.href='../'">Back to the home page</button>
</div>



