@page
@model FitFusionWeb.Pages.Users.MainModel
@{
}

<ul class="accordion" data-accordion>
    <li class="accordion-item is-active" data-accordion-item>
        <div class="accordion-content" data-tab-content>
            <p>Owners</p>
            <a href="Owner">See them all</a>
        </div>
        <div class="accordion-content" data-tab-content>
            <p>Staff employees</p>
            <a href="Staff">See them all</a>
        </div>
        <div class="accordion-content" data-tab-content>
            <p>Customers</p>
            <a href="Customer">See them all</a>
        </div>

    </li>
</ul>