@page
@model FitFusionWeb.Pages.CustomPages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1>Sorry, Access was denied!</h1>
<button type="button" class="btn btn-secondary" onclick="location.href='../'">Back to the home page</button>
