@page
@model FitFusionWeb.Pages.CustomPages.NotEnoughNPModel
@{
}

<h1>Not enough Nutri Points</h1>
<button type="button" class="btn btn-secondary" onclick="location.href='../Account'">Back to the account page</button>
<button type="button" class="btn btn-secondary" onclick="location.href='../'">Back to the home page</button>