@page
@model FitFusionWeb.Pages.CustomPages.SomethingWentWrongModel
@{
}

<div class="error-container">
    <h1>Oops! Something went wrong</h1>
    <h3>We apologize for the inconvenience.</h3>
    <button type="button" class="btn btn-back-home" onclick="location.href='../'">Back to the home page</button>
</div>