@page "{Id}"
@model FitFusionWeb.Pages.Users.Update.CustomerModel
@{
    ViewData["Title"] = "Create Customer";
}

<h1>Create Customer</h1>

<form method="post">
    <div>
        <input asp-for="Customer.Id" type="hidden" class="form-control" value="0" />
        <input asp-for="Customer.PasswordSalt" type="hidden" class="form-control" value="salt" />
        <input asp-for="Customer.NutriPoints" type="hidden" class="form-control" value="salt" />
    </div>
    <div>
        <label asp-for="Customer.FirstName"></label>
        <input asp-for="Customer.FirstName" class="form-control" />
        <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Customer.LastName"></label>
        <input asp-for="Customer.LastName" class="form-control" />
        <span asp-validation-for="Customer.LastName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Customer.Email"></label>
        <input asp-for="Customer.Email" class="form-control" />
        <span asp-validation-for="Customer.Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Customer.PasswordHash">Password</label>
        <input asp-for="Customer.PasswordHash" class="form-control" />
        <span asp-validation-for="Customer.PasswordHash" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Customer.Address"></label>
        <input asp-for="Customer.Address" class="form-control" />
        <span asp-validation-for="Customer.Address" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
